*
{
    margin: 0;
    font-family: sans-serif;
}
@mixin text-style($c:black, $w:400px,$s:20px,$fw:400)
{
    color: $c;
    width: $w;
    font-size: $s;
    font-weight: $fw;
}
@mixin control( $g:0, $t:0, $l:0, $ai:center)
{
    display: flex;
    gap: $g;
    margin-top: $t;
    margin-left: $l;
    align-items: $ai;
}
.hbox
{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-left: 10%;
}
.hbox-2
{
    display: flex;
    gap: 30px;
    font-size: 20px;
    align-items: center;
}
.imgtext
{
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
}
.select
{
    border: none;
    font-size: 20px;
    
}
.border
{
    color: blue;
    font-size: 20px;
    border: 1px solid blue;
    padding: 10px;
    height: 25px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
}
.p
{
    @include text-style(black, 450px, 45px,700 );
    margin-top: 10px
}
.lorem
{
    @include text-style(black, 550px, 20px, );
    margin-top: 10px;
}
.lorem1
{
    @include text-style(grey, 550px, 18px);
    margin-top: 7px;
}
.hbox2
{
    @include control(100px, 100px, 8%, center)
}
.xat
{
    width: 80%;
    height: 2px;
    background-color: rgb(215, 215, 215);
    margin-left: 8%;
    margin-top: 100px;
}

.blogs
{
    @include control(5px, 30px)
}
.when
{
    @include text-style(black, 340px, 20px, 600);
    margin-top: 20px;
}
.short
{
    @include text-style(grey, 350px, 14px);
    margin-top: 10px;
}
.minit
{
    @include control(10px)
}
.ux
{
    width: 115px;
    padding: 10px;
    height: 15px;
    background-color: #F2F2F2;
}
.divv
{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.flex
{
    @include control(20px, 70px, 8%)
}

